body {
  margin: 0;
  font-family: 'Playfair Display', serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}
.navbar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  background-color: teal;
}

.navbar a {
  color: white;
  padding-right: 30px;
}

a{
  text-decoration: none;
}

h1, h2, h4{
  color: teal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  padding-top: 2em;
  padding-bottom: 0.5em;

}
h2{
  padding: 0.5em;
}

p{
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-align: justify;
  margin: auto, 400px, 400px, 50px;
}

.Card {
  padding: 10px;
}

form {
  margin-top: 5%;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
.input_margin {
  margin-top: 2%;
}

.input_margin input{
  background-color: #B56D99;
  color: antiquewhite;
  border-color: white;
}
.card-title{
  color: #B56D99;
}

.card-text{
   font-family: Helvetica, sans-serif;
   font-size: 1em;
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.margin_icons{
  margin: 5px;
  color: white;
}

